/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html {
	background-image: url('../images/bg_texture@2x.png') repeat-x repeat-y;
}

/* #Global
------------------*/

.container {
	margin-top: 25px;
}

a:hover {
	color: #777777;
}

.meta {
	box-sizing: border-box;
	margin: 0 0 20px 0;
	border-bottom: 1px #e5e5e5 solid;
}

/* #Naviagtion
------------------*/

nav {
	margin: 30px auto 0;
	font-weight: 300;
	font-size: 28px;
}

nav ul {
	margin: 0 0 0 -9px;
}

nav ul li {
	padding: 10px 5px 10px 5px;
}

nav li:hover {
	width: 290px;
	border-radius: 2px;
	background-color: rgba(200,200,200,0.2);
	box-shadow: 2px 0px 4px rgba(119,119,119,0.1);
	color: #777777;
	font-size: 1em;

}

nav ul li a {
	text-decoration: none;
}

/* #Sidebar
------------------*/

.sidebar {
	box-sizing: border-box;
	border-right: 1px #e5e5e5 solid;
}

.logo {
	width: 250px;
	height: 256px;
	background: url('../images/web_logo.png') no-repeat;
	background-size: contain;
}

.sidebar hr {
	margin: 10px 0;
	width: 100%;
	color: #e5e5e5;
}

#about-me {
	box-sizing: border-box;
	padding: 0 10px 0 0;
}


#about-me h2 {
	font-weight: 400;
	font-size: 20px;
}

#about-me p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.6;
}

#app-net, #behance, #github {
	float: left;
	width: 48px;
	height: 48px;
}

#app-net {
	background-image: url('../images/appnet.png');
}

#behance {
	background-image: url('../images/behance.png');
}

#github {
	background-image: url('../images/github.png');
}

#twitter-2 {
	box-sizing: border-box;
	padding: 0 10px 0 0;
}

#twitter-2, #twitter-2 a {
	color: #777;
}

#twitter-2 a:hover {
	color: #aaa	;
}

.twitterwidget-title {
	font-weight: 400;
	font-size: 20px;
	color: #777;
}


.social {
	margin: 0 auto;
	width: 50%;
	box-sizing: border-box;
}

/* #Content-area
------------------*/

.content-area {
	box-sizing: border-box;
	padding: 0 0 0 10px;
}

/* #Footer
------------------*/

footer {
	margin: 20px 10px 10px 10px;
	color: #777777;
	box-sizing: border-box;
	border-top: 1px #e5e5e5 solid;
}


/* #Page Styles
================================================== */

/* Projects  */
.projects section {
	margin: 0 0 25px 0;
}

.projects:last-child {
	margin: none;
}

.projects h2 {
	box-sizing: border-box;
	border-bottom: #e5e5e5 solid 1px;
	font-weight: normal;
}

.projects h2 a {
	text-decoration: none;
}

.projects h2 span {
	font-size: 50%;
}

#apps, #sketch, #tbp, #sketch, #heard, #played, #slices {
	display: none;
}

/*.projects h2 {
	font-size: 20px;
}*/

/* #Work --- From "Superman" to Man */
.work h2 {
	border-bottom: 1px #e5e5e5 solid;
	margin: 0 0 10px 0;
}

.work header {
	margin: 0 0 20px 0;
}

.work header h1 {
	margin: 0 0 20px 0;
}

.work header ul {
	margin: 0 auto;
	text-align: center;
	background-color: rgba(200,200,200,0.2);
}

.work header ul li {
	box-sizing: border-box;
	border-right: 1px #777 solid;
	padding: 0 5px 0 0;
	margin: 0 0 0 5px;
	display: inline;
}

.work header ul li:last-child {
	box-sizing: border-box;
	border-right: none;
	padding: none;
	margin: none;
}

#superman img{
	margin: 0 auto;
	max-width: 100%;
}

#superman .image-container {
	max-width: 580px;
}

#superman .image-container img {
	box-sizing: border-box;
	float: left;
	margin: 0 1.25em 0 0;
}

#superman .image-container img:last-child {
	margin: 0;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) { }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/*** 2/17/12 Need to fix logo margin-right for this specific breakpoint ***/
		.logo {
			width: 180px;
			height: 184px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) { }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) { }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.logo {
			margin: 0 auto;
			width: 250px;
			height: 256px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-weight: normal;
	    font-style: normal;
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg'); }
